absl-py==1.1.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.11.1
bokeh==2.4.3
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
distlib==0.3.4
ez-setup==0.9
filelock==3.7.1
Flask==2.0.2
flatbuffers==2.0
gast==0.4.0
geopandas==0.11.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h5py==3.7.0
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
keras==2.9.0
keras-nightly==2.10.0.dev2022061807
Keras-Preprocessing==1.1.2
libclang==14.0.1
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.0.1
mpi4py==3.1.3
multitasking==0.0.10
numpy==1.21.4
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
paho-mqtt==1.6.1
pandas==1.3.5
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
protobuf==3.19.4
psutil==5.9.0
pure-sasl==0.6.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
pyproj==3.3.1
pytest==7.1.2
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
Shapely==1.8.2
six==1.16.0
soupsieve==2.3.2.post1
tb-nightly==2.10.0a20220615
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf-estimator-nightly==2.10.0.dev2022061808
tf-nightly==2.10.0.dev20220617
threadpoolctl==3.1.0
ticker==0.13
tomli==2.0.1
tornado==6.1
typing_extensions==4.2.0
urllib3==1.26.8
virtualenv==20.14.1
Werkzeug==2.0.2
wrapt==1.14.1
yfinance==0.1.72
